@import '~antd/dist/antd.css';

.falcone-main-layout .layout{
  height: 100vh;
  font-family: 'Abel', sans-serif;
  color: white;
  background: url('./back.jpg') no-repeat;
  z-index: 1000;
  
}
.falcone-main-layout .ant-layout-content {
  padding: 0 50px;
}
.falcone-main-layout .ant-layout-header {
  height: fit-content;
  padding: 0em;
  background-color: rgb(0, 0, 0,.3);
}
.finding-falcone-restart{
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 1em;
  padding-right: 4em;
  font-weight: bold;
}
.finding-falcone-restart-link{
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 1.1em;
  /* padding-right: 4em; */
}
.finding-falcone-restart-link:hover {
  color: rgb(150, 143, 143);
  text-decoration: underline;
}

.falcone-text {
  color: white;
  font-size: 1.5em;
}
.falcone-logo {
  width: 4.5em;
  height: 4.5em;
  margin: 0em 1em 1em 1em;
  float: left;
  
}
.finding-falcone {
  /* font-family: 'Alfa Slab One', cursive; */
  color: white;
  float: left;
  font-size: 1.5em;
  letter-spacing: 2px;
  margin: .8em 0em;
  font-weight: bold;
}
.falcone-row-primary {
  background-color: rgb(0, 0, 0,.3);
  margin: 2em 12em ;
  padding: 1em 2em;
}
.falcone-main-layout .col-sm {
  margin: 1em;
  padding: 1em;
  text-align: left;
  background-color: rgba(226, 214, 214, 0.05);
  color: white;
  
}
.falcone-main-layout .ant-layout-footer{
  background-color: rgb(0, 0, 0,.3);
  color: white;
  font-size: 1.3em;
}
.falcone-main-layout .ant-radio-wrapper {
  color: white;
}
.falcone-planet-select {
  width: 100%;
  color: black;
  font-family: 'Abel', sans-serif;
}
.falcone-planet-h5{
  color: white;
}
.col .h6 .ant-radio-wrapper{
  color: white;
}
.falcone-selectPlanets {
  color: white;
}
.falcone-selectSpaceShip {
  color:white
}
.falcone-main-layout .ant-radio-disabled + span{
  color: rgb(99, 99, 99);
}
.falcone-main-layout .ant-btn-primary {
  background-color: rgb(188, 188, 188,.7);
  font-family: 'Alfa Slab One', cursive;
  margin-top: .5em;
  margin-bottom: .5em;
  border-radius: 0.5em;
  border-color: #bcbcbc;
  height: fit-content;
  /* padding: 1em; */
}
.falcone-main-layout .ant-btn {
  font-size: 1.2em ;
  padding: .5em 1em;
  color: #19181d;
  text-align: center;
}
.falcone-main-layout .ant-btn-primary:hover {
  background:rgba(167, 164, 164, 0.7);
  border-color: rgb(188, 188, 188,.7);
  color: black;
}
.falcone-main-layout .ant-select-arrow {
  color: black;
}


@media only screen and (max-width: 768px) {
  .falcone-main-layout .falcone-logo {
    width: 3em;
    height: 3em;
    margin-top: 1em;
    float: left;    
  }
  .falcone-main-layout .finding-falcone {
    color: white;
    float: left;
    font-size: 1em;
    letter-spacing: 2px;
    margin-top: 1.8em; 
    font-weight: bold;
  }
  .falcone-main-layout .layout{
    height: 100vh;
    font-family: 'Abel', sans-serif;
    color: white;
    background: url('./back.jpg') no-repeat;
    z-index: 1000;
    font-size: .8em;
    
  }
  .falcone-main-layout .finding-falcone-restart-link{
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: .5em;
    /* padding-right: 4em; */
  }
  .falcone-main-layout .falcone-row-primary {
    background-color: rgb(0, 0, 0,.3);
    margin: 0em 0em ;
    padding: 0em 0em;
  }
  .falcone-main-layout .finding-falcone-restart{
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: 1.5em;
    padding-right: 1em;
    font-weight: bold;
  }
  .falcone-main-layout .falcone-text {
    color: white;
    font-size: 1em;
    margin-top: 2em;
    padding-top: 2em;
  }
  .falcone-main-layout .row {
    background-color: rgb(0, 0, 0,.3);
    margin: 0em;
    padding: 0em;
  }

  .falcone-main-layout .ant-layout-content {
    padding: 0 .5em ;
  }
  .falcone-main-layout .col-6 {
    margin: 0em;
    padding: 1em;
    text-align: left;
    background-color: rgb(0, 0, 0,.3);
    color: white;
    width: 100%;
    
  }
  .falcone-main-layout .falcone-time{
    font-size: 0.6em;
    padding-left: 2em;
  }
}


